@error-msg-color: #fff;
@error-msg-max-width: 70vw;

.error-container {
  height: 100vh;
  text-align: center;
  color: @error-msg-color;

  > *, &:after {
    display: inline-block;
    vertical-align: middle;
    max-width: @error-msg-max-width;
  }

  &:after {
    content: "";
    height: 100%;
    width: 1px;
  }
}