.transition(@property: all, @duration: @transition-duration, @timing-function: ease, @transition-delay: 0s) {
  -webkit-transition: @property @duration @timing-function @transition-delay;
  -moz-transition: @property @duration @timing-function @transition-delay;
  -ms-transition: @property @duration @timing-function @transition-delay;
  -o-transition: @property @duration @timing-function @transition-delay;
  transition: @property @duration @timing-function @transition-delay;
}

.animation(@value) {
  -webkit-animation: @value;
  -moz-animation: @value;
  -ms-animation: @value;
  -o-animation: @value;
  animation: @value;
}

.rotate(@value) {
  -webkit-transform: rotate(@value);
  -moz-transform: rotate(@value);
  -ms-transform: rotate(@value);
  -o-transform: rotate(@value);
  transform: rotate(@value);
}

@-webkit-keyframes rotate { 
  0% {.rotate(-360deg)} 100% {.rotate(0deg)}
}
@-moz-keyframes rotate {
  0% {.rotate(-360deg)} 100% {.rotate(0deg)}
}
@-ms-keyframes rotate {
  0% {.rotate(-360deg)} 100% {.rotate(0deg)}
}
@-o-keyframes rotate {
  0% {.rotate(-360deg)} 100% {.rotate(0deg)}
}
@keyframes rotate {
  0% {.rotate(-360deg)} 100% {.rotate(0deg)}
}