@preloader-width: 60px;
@preloader-border-width: 3px;
@preloader-dark-side: #555555;
@preloader-light-side: #CCCCCC;

.preloader {
  width: 100vw;
  height: 100vh;
  text-align: center;

  &:before, &:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
  }

  &:before {
    width: @preloader-width;
    height: @preloader-width;
    .animation(rotate 0.6s linear infinite);
    border-radius: 100%;
    border-width: @preloader-border-width;
    border-top-color: @preloader-dark-side;
    border-bottom-color: @preloader-dark-side;
    border-left-color: @preloader-light-side;
    border-right-color: @preloader-light-side;
    border-style: dotted;
  }

  &:after {
    width: 1px;
    height: 100%;
  }
}