@preview-default-opacity: 0.75;

.visible-preview(@index) when (@index > 0) {
  &:nth-child(@{index}) {
    display: inline-block;
  }

  .visible-preview(@index - 1);
}

.previews-container {
  .preview {
    display: none;
    background-size: cover;
    width: 50vw;
    height: 50vh;
    .visible-preview(4);
    cursor: pointer;
    opacity: @preview-default-opacity;
    .transition(opacity);

    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: @small-width) {
  .previews-container {
    .preview {
      width: 33vw;
      height: 33vh;
      .visible-preview(9);
    }
  }
}

@media (min-width: @medium-width) {
  .previews-container {
    .preview {
      width: 25vw;
      height: 25vh;
      .visible-preview(16);
    }
  }
}